# Managed by DEPS checkouts
binaryen
emscripten
llvm-project
llvm-test-suite

# Managed by DEPS hooks
jre-*
node-*
cmake-*

# Build directory for buildbots
build

*~
*.pyc

# Third party repos.
third_party/ninja/ninja
third_party/ninja/ninja.exe
